*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

 /*------------------------CSS of Navbar------------------------- */
 
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) ;
}

.logo > img{
    width: 40px;
    margin-right: 18px;
}

.navbar-center > ul > li{
    display: inline-block;
    list-style: none;
}

.navbar-center > ul > li > a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 8px 8px;
    padding-right: 8px;
    position: relative;
    text-decoration: none;
    color: #5f5f5f;
}

.navbar-center > ul > li > a::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#045be6;
    position: absolute;
    bottom: -14px;
    transition: width 0.3s;
} 

.navbar-center > ul > li > a:hover::after,
.navbar-center > ul > li > a.active-link::after
{
    width: 100%;
}


.navbar-center > ul > li > a > img{
    width: 35px;
}

.nav-profile-img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.online{
    position: relative;
}

.online::after{
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;

}

.search-box{
    background: #e5ebec;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.navbar-left{
    display:flex;
    align-items: center;
}

.search-box > img {
    width: 17px;

}

.search-box > input{
    background: transparent;
    padding: 8px;
    outline: none;
    border: none;
}

/* ------------------------------- Navbar close ----------------------------*/

/*-------------------------- CSS of left-side-bar--------------------- */

.left-side-bar-1{
    border: solid 1px grey;
    height: 467px;
    width: 265px;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin-top: 18px;
    
}

.left-side-bar-image{

    height: 100px;
    width: 263px;
    padding: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
    
.profile-image{
    height: 100px;
    width: 100px;
    border-radius: 70px;
    position: absolute;
    left: 100px;
    top: 145px;
    cursor: pointer;
}
   
.profile-bio{
    text-align: center;
    position: relative;
    top: 50px;
}

.profile-bio-fix-1{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.profile-bio > p{
    font-size: 15px;
    color: #5f5f5f;
}

.profile-bio-fix-3{
    font-size: 14px;
    color: #5f5f5f;
    padding-left: 10px;   
}

.profile-bio-fix-4{
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    
}
.growing-point-1{
float: right;
color: blue;
font-size: 22px;
position: relative;
right: 10px;
bottom: 18px;
}

.profile-bio-fix-5{
    font-size: 17px;
    padding-left: 10px;
}

.growing-point-2{
    float: right;
    color: blue;
    font-size: 22px;
    position: relative;
    right: 10px;
    bottom: 6px;
    font-weight: 600;
}



.bio-premium-1{
        font-size: 14px;
        color:#5f5f5f;
        padding-left: 10px;
}

.bio-premium-2{
        font-size: 15px;
        padding-left: 10px;
        font-weight: 600;
        cursor: pointer;
}

.my-items-fix{
        display: flex;
        align-items: center;
        cursor: pointer;
}

.my-items-fix > img{
        width: 30px;
        color: black;
        padding-bottom: 15px;
        padding-left: 4px;
        cursor: pointer;
 }

.my-items-fix > h2 {
        font-size: 20px;
        padding-left: 13px;
        padding-bottom: 10px;
}

.left-side-bar-2{
        border: solid 1px grey;
        height: 400px;
        margin-top: 30px;
        width: 265px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;    
}

.left-side-bar-2 > h2{
        font-size: 20px;
        padding-top: 15px;
        padding-left: 10px;
        padding-bottom: 7px;
        cursor: pointer;
}

.hashtag-fix{
        width: 15px;
        height: 20px;
        margin-left: 10px;
        color: #5f5f5f;
        cursor: pointer;
}

.hashtag-fix-2{
        color: #5f5f5f;
        padding-left: 4px;
        cursor: pointer;
}

.left-side-bar-2 > h3{
        font-size: 17px;
        padding-top: 15px;
        padding-left: 10px;
        color: blue;
        cursor: pointer;
}

.group-fix-1{
        width: 15px;
        height: 20px;
        margin-left: 10px;
        color: #5f5f5f;
        cursor: pointer;

 }

.group-fix-2{
        color: #5f5f5f;
        padding-left: 10px;
        cursor: pointer;
 }


 /*---------------------left-side-bar-close -----------------------*/

 /*-------------------CSS of Main Content ---------------------------------*/


.container-1{
    display: flex;
    align-items:center;
    height: 60px;
    width: 580px;
    margin-top: 10px;
    border-radius: 10px;
}

.fix{
    border: 1px solid grey;
    border-radius: 20px;
    width: 550px;
    padding: 8px 0px 8px 15px; 
    outline: none;
}

.container-1 > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
}

#cob{
    background-color: #fff;
    height: 140px;
    margin: 20px 0;
    border-radius: 20px;
    border: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-2{
    display: flex;
    justify-content: space-around;
    font-size: 32px;
    color: rgb(18, 18, 143);
    margin-top: 10px;
}

.icon-text
{
    font-size: 18px;
    color: #5f5f5f;
    padding-left: 10px;
    text-decoration: none;
  
}

#icon-color-1{
    background-color: red;
    color: #fff;
    cursor: pointer;
}

#icon-color-2{
color: #41db51;
cursor: pointer;
}

#icon-color-3{
    color: #045be6;
    cursor: pointer;
}

#icon-color-4{
    color: red;
    cursor: pointer;
}

.container-3{
    margin-top: 30px;
    border: 1px solid grey;
    height: 520px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-3 > img{
    margin: 10px;
    width: 90px;
    height: 80px;
    float: left;
    cursor: pointer;
}

.text-3 > h3{
   margin-top: 20px;
   padding-left: 4px;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
}

.text-3 > p{
    color: gray;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

#dot-fix{
float: right;
position: relative;
font-size: 25px;
bottom: 40px;
right: 18px;
cursor: pointer;
}

.container-4 > img{
    width: 593px;
    height: 320px;
    cursor: pointer;
    
}

.like-icon{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.appreciate-icon{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}
   
.clap-icon{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.comments-text{ 
    margin: 10px;
    cursor: pointer;
}

.like{
    height: 40px;
    border: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
 
}

#like-thumb{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 7px;
    cursor: pointer;
}

.like-fix{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.container-5{
   margin: 30px 0;
    border: 1px solid grey;
    height: 625px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-5 > img {
    width: 100px;
    height: 80px;
    margin: 10px;
    float: left;
    cursor: pointer;
}

.yash-bio{
    text-align:justify;
    color: #5f5f5f;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 15px;
}

.Demo-video{
    width: 592px;
    cursor: pointer;
}


/*------------------------ Main Content End -----------------------------*/

/*------------------------- Right side Bar -----------------------------*/


.side-bar-1{
border: solid 1px grey;
height: 300px;
margin-top: 20px;
width: 270px;
padding: 10px 0px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.side-bar-1 > h4{
    font-size: 17px;
    font-weight: 600;
    padding-left: 15px;
    cursor: pointer;
}

.more-icon-fix{
    float: right;
}

.more-img-fix{
    width: 20px;
     position: relative;
     right: 10px;
     color: black;
     top: -3px;
     cursor: pointer;
}


.list-fix{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.list-fix-2{
    font-size: 15px;
    color:#5f5f5f;
    cursor: pointer;
}

.side-bar-2{
    border: solid 1px grey;
    height: 200px;
    margin-top: 20px;
    width: 270px;
    padding: 10px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-bar-2 > h4{
        font-size: 15px;
        font-weight: 600;
        padding-left: 15px;
        cursor: pointer;
}

.side-bar-3{
        border: solid 1px grey;
        height: 400px;
        margin-top: 20px;
        width: 270px;
        padding: 10px 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-bar-3 > h4{
            font-size: 15px;
            font-weight: 600;
            padding-left: 15px;
            cursor: pointer;
}

.side-bar-3 > img{
        height: 60px;
        width: 60px;
        float: left;
        cursor: pointer;
}

.side-bar-head{
           font-size: 18px;
           font-weight: 600;
           cursor: pointer;
}

.side-bar-text-para{
        font-size: 14px;
        color: #5f5f5f;
        cursor: pointer;
}

.follow-button-fix{
        width: 200px;
        border-radius: 15px;
        border: solid 2px grey;
        background-color: #fff;
        font-weight: 600;
}

.follow-button{
        padding-left: 40px;
}

.side-bar-4 > img{
        width: 55px;
        height: 55px;
        float: left;
        cursor: pointer;
}

.side-bar-5 > img{
        width: 55px;
        height: 55px;
        float: left;
        cursor: pointer;
}

.follow-button-fix-2{
        width: 150px;
        border-radius: 15px;
        border: solid 2px grey;
        background-color: #fff;
        font-weight: 600;
}

/*-------------------- Right side Bar End ---------------------------------*/